body{
  background-color: rebeccapurple;
  color:red
}
#alaotsikko{
width: 30%;
margin:auto;
background-color: aqua;
text-align: center;
}
.ylaotsikko{
  background-color: lightcoral;
  text-align: center;
}